############################
# npm
############################
node_modules
npm-debug.log


############################
# tmp, editor & OS files
############################
.tmp
*.swo
*.swp
*.swn
*.swm
.DS_STORE
*#
*~
.idea
nbproject
*.sublime-project
*.sublime-workspace

############################
# Tests
############################
machinepack-soundcloud-test
coverage


############################
# Other
############################
.node_history
